body {
  background-color: #cc8b86;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #7d4f50;
  font-weight: bold;
}

#enonce {
  background-color: #d1be9c;
  color: #7d4f50;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#result {
  background-color: #58355e;
  color: #fff689;
  margin-bottom: 1rem;
  padding: 1rem;
}

.var-php {
  font-weight: bold;
}
